body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #261E1E;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  background: linear-gradient(to right, #D5C069, #D5C069);
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  padding: 20px;
  width: 350px;
  height: 550px;
  text-align: center;
  margin: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajout de l'ombre */
  transition: box-shadow 0.3s ease; /* Transition pour l'ombre */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}

.card h2 {
  margin: 20px 0;
  color: #333; /* Couleur du texte assombrie */
}

.additional-info p {
  font-size: 18px;
  font-family: "Arial", sans-serif;
  color: #666; /* Couleur du texte assombrie */
}

#loginButton1{
  background: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  margin-top: auto; /* Déplacer le bouton vers le bas */
}

#loginButton2{
  background: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  margin-top: auto; /* Déplacer le bouton vers le bas */
}

#loginButton3{
  background: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  margin-top: auto; /* Déplacer le bouton vers le bas */
}


#but1 {
  background: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  margin-top: auto; /* Déplacer le bouton vers le bas */
}
#but2 {
  background: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  margin-top: auto; /* Déplacer le bouton vers le bas */
}
#but3 {
  background: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  margin-top: auto; /* Déplacer le bouton vers le bas */
}

.indexHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  padding-top: 25px;
  /*width: 100%;*/
  height: auto;
}

.indexHeaderSection {
  display: flex;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #261E1E; /* Arrière-plan précédent */
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0; /* Ajout de la propriété padding */
  min-height: 100%; /* Ajout de la propriété min-height */
  background: linear-gradient(to bottom, #333333, #1a1a1a); /* Nouvelle arrière-plan */
  background-repeat: no-repeat; /* Répétition de l'arrière-plan */
  background-attachment: fixed; /* Fixation de l'arrière-plan */
  color: #fff; /* Couleur du texte */
}
