body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #261E1E;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  background: linear-gradient(to right, #D5C069, #D5C069);
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  padding: 20px;
  width: 350px;
  height: 550px;
  text-align: center;
  margin: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajout de l'ombre */
  transition: transform 0.3s ease;
  
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  margin: 20px 0;
  color: #333; /* Couleur du texte assombrie */
}

.additional-info p {
  font-size: 18px;
  font-family: "Arial", sans-serif;
  color: #666; /* Couleur du texte assombrie */
}

#loginButton1{
  background: #261E1E;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  margin-top: auto; /* Déplacer le bouton vers le bas */
}

#loginButton2{
  background: #261E1E;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  margin-top: auto; /* Déplacer le bouton vers le bas */
}

#loginButton3{
  background: #261E1E;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  margin-top: auto; /* Déplacer le bouton vers le bas */
}


#but1 {
  background: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  margin-top: auto; /* Déplacer le bouton vers le bas */
}
#but2 {
  background: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  margin-top: auto; /* Déplacer le bouton vers le bas */
}
#but3 {
  background: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  margin-top: auto; /* Déplacer le bouton vers le bas */
}

.indexHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  padding-top: 25px;
  /*width: 100%;*/
  height: auto;
}

.indexHeaderSection {
  display: flex;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #261E1E; /* Arrière-plan précédent */
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0; /* Ajout de la propriété padding */
  min-height: 100%; /* Ajout de la propriété min-height */
  background: linear-gradient(to bottom, #333333, #1a1a1a); /* Nouvelle arrière-plan */
  background-repeat: no-repeat; /* Répétition de l'arrière-plan */
  background-attachment: fixed; /* Fixation de l'arrière-plan */
  color: #fff; /* Couleur du texte */
}

#paymentForm {
  max-width: 600px; /* Augmentation de la largeur maximale */
  margin: 0 auto; /* Pour centrer horizontalement */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 50px; /* Pour l'espacement par rapport aux autres éléments */
  display: flex; /* Pour permettre d'ajouter des éléments à droite */
}

#paymentForm h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

#paymentForm label {
  display: block;
  margin-bottom: 10px;
  color: #000000;
}

#paymentForm input[type="text"],
#paymentForm input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#paymentForm input[type="submit"] {
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

#paymentForm input[type="submit"]:hover {
  background-color: #45a049;
}