.profile-page {
    position: absolute;
    top: 0;
    left: 500%; /*slide la page a droit*/
    width: 100%; 
    height: 100%; 
    transition: left 0.5s ease; /* Animation de glissement */
    z-index: 0;
}



.exercice-templates{
    position: absolute;
    top: 0;
    left: 500%;
    width: 100%;
    height: 100%;
    transition: left 0.5s ease; /* Animation de glissement */
    z-index: 0;
}
.exercice-card {
    position: absolute;
    top: 50%; /* Position the top edge of the card at the vertical center of the parent container */
    transform: translate(-50%, -50%); /* Move the card back up and to the left by half of its own width and height */
    margin-left: 250px;
    /* Other styles */
    transition: left 0.5s ease; /* Animation de glissement */
    z-index: 0;
    width: 15%;
    height: 80%;
    background-color: #D5C069 !important;
    border-radius: 10px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center;

}
.exercice-card i {
    margin-right: 20px; /* Adjust the margin as needed */
}



.side-bar {
    position: relative; /* Fait en sorte d'etre sur que le z index marche */
    z-index: 1; /*Mettre une valeure Z plus grande que la page profile pour apparaitre au dessus*/
}

.side-bar a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    white-space: nowrap; 
}



#profileIcon span{
    padding-right: 35px;
}

#exitIcon{
    padding-right: 35px;
}


#calendarIcon span{
    padding-right: 19px;
}

.side-bar a i {
    color: #000000;
    padding-right: 70px; 
}


.side-bar a span {
    opacity: 0; /* cacher le text initiallement */
    color:inherit;
    font-size: 1.05rem;
        font-family: sans-serif;
        font-weight: bold;


}

.side-bar:hover a span {
    opacity: 1; /* faire apparaitre le text quand l'utilisateur passer sa souris sur la side bar */
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
    .side-bar {
        width: 150px; /* Adjust width for smaller screens */
        min-width: 60px; /* Adjust minimum width for smaller screens */
    }

    .side-bar:hover {
        width: 200px; /* Keep the width same on hover for smaller screens */
    }

    .side-bar a span {
        margin-left: 8px; /* Adjust margin for smaller screens */
    }
}


.hidden {
    left: -1500px; /* Cache la page à gauche */
}

.show {
    left: 90px; /* Affiche la page à côté de la sidebar */
}

/* Card container */


/* Individual card */
.card {
    width: 450px;
    height: 800px !important;
    margin: 10px;
    background-color: #D5C069 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.left-side {
    height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr)); /* Adjust grid to fit cards */
    gap: 35px;
    padding: 20px;
    align-items: start;
}

.line {
    width: 2px;
    height: 100%;
    background-color: white;
}

.right-side {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%; /* Set the width to occupy the other half of the page */
    height: 100%;
    overflow: hidden; /* Ensure content overflow is hidden */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Individual card */
/* Individual card */
.card1 {
    width: 150; /* Ensure the cards take up the full width of their grid cell */
    height: 150;
    background-color: #D5C069;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


  