.side-bar {
  flex-basis: 6vw; /* ou une largeur fixe selon vos préférences */
  background-color: #D5C069;
  display: flex;
  flex-direction: column;
  align-items: center;/* Empêche le contenu de déborder lorsque la barre latérale est agrandie */
}

.icons {
  align-items: center;
  font-size: 8.5vh;
  cursor: pointer;
  padding-left: 10%;
  padding-top: 8vh; /* Utilisation d'une valeur fixe pour le padding top */
  padding-bottom: 8vh; /* Utilisation d'une valeur fixe pour le padding bottom */
  overflow: hidden;
}

.icons:hover {
  color: gray;
}

.side-bar:hover {
  width: 15vw; /* Ajuste la largeur de la barre latérale au survol */
}

.side-bar:hover .icons {
  padding-left: 10%; /* Maintient le padding fixe */
}

.main-container {
  display: flex;
  height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: row; /* Aligner les cartes horizontalement */
  overflow-x: auto; /* Permettre le défilement horizontal */
  white-space: nowrap; /* Garder toutes les cartes sur la même ligne */
  padding: 20px;
  align-items: flex-start; /* Alignement vertical des cartes */
}

.card {
  top: 30px;
  width: 450px;
  height: 800px !important;
  margin: 10px;
  background-color: #D5C069 !important;
  display: flex;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
  flex-shrink: 0; /* Empêcher les cartes de rétrécir */
}

.card-content {
  display: flex;
  justify-content: center; /* Centrage horizontal du contenu */
  align-items: center; /* Centrage vertical du contenu */
  width: 100%; /* La largeur doit couvrir toute la carte */
  height: 100%; /* La hauteur doit couvrir toute la carte */
}

/* Assurez-vous que les icônes à l'intérieur de .card-content sont aussi centrées */
.card-content .fa-plus {
  font-size: 3em; /* Ajustez la taille de la police selon vos besoins */
}
