
<div class="indexHeader">
    <div class="indexHeaderSection">
        <button class="indexButton1" style="border-top-left-radius: 50px; border-bottom-left-radius: 50px;">Se connecter</button>
        <a href="/Inscription"class="indexButton1" style="border-top-right-radius: 50px; border-bottom-right-radius: 50px;">S'inscrire</a>
    </div>

    <img src="/imgs/whiteTransp.png" style="height: 14em; width: 14em;" alt="Fitness logo">

    <div class="indexHeaderSection">
        <button class="indexButton1"style="border-top-left-radius: 50px; border-bottom-left-radius: 50px;">Nous contacter</button>
        <button class="indexButton1" style="border-top-right-radius: 50px; border-bottom-right-radius: 50px;">Abonnements</button>
    </div>
</div>

<main>