<header>
    <nav>
        <button>Se connecter</button>
        <button>S'inscrire</button>
        <img src="/imgs/whiteTransp.png" alt="Fitness logo">
        <button>Nous contacter</button>
        <button>Abonnements</button>
    </nav>
</header>
<main>