

<div class="indexHeader">
    <div class="indexHeaderSection">
        <a href="/profile" class="indexButton1" style="border-top-left-radius: 50px; border-bottom-left-radius: 50px;">Mon Profile</a>
        <a href="/logout"class="indexButton1" style="border-top-right-radius: 50px; border-bottom-right-radius: 50px;">Deconnexion</a>
    </div>

    <a href="/">
        <img src="/imgs/whiteTransp.png" style="height: 14em; width: 14em;" alt="Fitness logo">
    </a>

    <div class="indexHeaderSection">
        <a href="/App" style="border-top-left-radius: 50px; border-bottom-left-radius: 50px;" class="indexButton1">Ouvrir l'application</a>
        <a href="/Abonnement" class="indexButton1" style="border-top-right-radius: 50px; border-bottom-right-radius: 50px;">Abonnements</a>
    </div>
</div>

<main>
    <% if (user) { %>
        <div style="color: white; text-align: center;">
            <h1><%= user.prenom %> <%= user.nom %></h1>
        </div>
        <% } %>
    