<nav>
    <button>Se connecter</button>
    <button>S'inscrire</button>
    <img src="/imgs/whiteTransp 3.png" alt="Fitness logo">
    <button>Nous contacter</button>
    <button>Abonnements</button>
</nav>