<%- include("../partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Plans</title>
    <link rel="stylesheet" href="abonnementCSS.css">
</head>
<body>
    <div class="card-container" id="cardContainer">
        <!-- Card 1 - Gratuit -->
        <div class="card" id="card1">
            <h2>GRATUIT</h2>
            <div class="additional-info">
                <p>Accès limité aux programmes</p>
                <p>3 essais pour générer des programmes</p>
            </div>
            <% if (user) { %>
                <button type="button" onclick="showPaymentForm('1')" id="but1" <% if (user.abonnement_id_abonnement === 1) { %>disabled<% } %>>Confirmer</button>
            <% } else { %>
                <button id="loginButton1" type="button" onclick="redirectToLogin()">Connectez-vous pour s'abonner</button>
            <% } %>
        </div>

        <!-- Card 2 - Basic -->
        <div class="card" id="card2">
            <h2>BASIC</h2>
            <div class="additional-info">
                <p>Accès illimité aux programmes</p>
                <p>10 essais par mois pour générer des programmes</p>
            </div>
            <% if (user) { %>
                <button type="button" onclick="showPaymentForm('2')" id="but2" <% if (user.abonnement_id_abonnement === 2) { %>disabled<% } %>>Confirmer</button>
            <% } else { %>
                <button id="loginButton2" type="button" onclick="redirectToLogin()">Connectez-vous pour s'abonner</button>
            <% } %>
        </div>

        <!-- Card 3 - Premium -->
        <div class="card" id="card3">
            <h2>PREMIUM</h2>
            <div class="additional-info">
                <p>Accès au coach</p>
                <p>Accès illimité pour générer des programmes</p>
                <p>Accès aux plans de nutrition</p>
            </div>
            <% if (user) { %>
                <button type="button" onclick="showPaymentForm('3')" id="but3" <% if (user.abonnement_id_abonnement === 3) { %>disabled<% } %>>Confirmer</button>
            <% } else { %>
                <button id="loginButton3" type="button" onclick="redirectToLogin()">Connectez-vous pour s'abonner</button>
            <% } %>
        </div>
    </div>

    <!-- Formulaire de paiement -->
    <div id="paymentForm" style="display: none;">
        <h2>Formulaire de paiement</h2>
        <form action="/process_payment" method="POST">
            <input type="hidden" id="planId" name="planId" value="">
            <label for="cardNumber">Numéro de carte :</label>
            <input type="text" id="cardNumber" name="cardNumber" pattern="\d*" minlength="16" maxlength="16" required><br><br>
            <label for="expirationDate">Date d'expiration (MMYY) :</label>
            <input type="text" id="expirationDate" name="expirationDate" pattern="\d*" minlength="4" maxlength="4" placeholder="MMYY" required><br><br>
            <label for="cvv">CVV :</label>
            <input type="text" id="cvv" name="cvv" pattern="\d*" minlength="3" maxlength="3" required><br><br>
            <button type="submit">Payer</button>
        </form>
    </div>

    <script>
        function showPaymentForm(planId) {
    if (planId === '1') { // Vérifie si l'utilisateur a choisi l'abonnement gratuit
        // Effectuer le changement d'abonnement ici sans afficher le formulaire de paiement
        alert("Votre abonnement a été changé avec succès !");
        return; // Sortir de la fonction pour éviter d'afficher le formulaire de paiement
    }

    document.getElementById('paymentForm').style.display = 'block';
    document.getElementById('planId').value = planId;
    document.getElementById('paymentForm').scrollIntoView({ behavior: 'smooth' });
}

        
        function redirectToLogin() {
            window.location.href = '/Connexion'; 
        }
    </script>
</body>
</html>
<%- include("../partials/footer.ejs") %>
