<%- include ("../partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Subscription Plans</title>
<link rel="stylesheet" href="abonnementCSS.css">
</head>
<body>
 
<div class="card-container">
    <div class="card">
        <h2>GRATUIT</h2>
        <div class="additional-info">
            <p>Accès limité aux programmes</p>
            <p>3 essais pour générer des programmes</p>
        </div>
        <button type="submit">Confirmer</button>
    </div>
    <div class="card">
        <h2>BASIC</h2>
        <div class="additional-info">
            <p>Accès illimté aux programmes</p>
            <p>10 essais par mois pour generer des programmes</p>
        </div>
        <button type="submit">Confirmer</button>
    </div>
    <div class="card">
        <h2>PREMIUM</h2>
        <div class="additional-info">
            <p>Accès au coach</p>
            <p>Accès illimté pour generer des programmes</p>
            <p>Accès aux plans de nutritions</p>
        </div>
        <button type="submit">Confirmer</button>
    </div>
</div>
 
</body>
</html>

<%- include ("../partials/footer.ejs") %>
