<%- include ("../partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Plans</title>
    <link rel="stylesheet" href="abonnementCSS.css">
</head>
<body>
    <div class="card-container">
        <div class="card">
            <h2>GRATUIT</h2>
            <div class="additional-info">
                <p>Accès limité aux programmes</p>
                <p>3 essais pour générer des programmes</p>
            </div>
            <% if (user) { %>
                <form action="/abonnement/choisir" method="POST">
                    <input type="hidden" name="id_abonnement" value="1">
                    <button id="but1" type="submit" <% if (user.abonnement_id_abonnement == 1) { %>disabled<% } %>>Confirmer</button>
                </form>
            <% } else { %>
                <button id="but1" type="button" disabled>Connectez-vous pour souscrire</button>
            <% } %>
        </div>
        <div class="card">
            <h2>BASIC</h2>
            <div class="additional-info">
                <p>Accès illimité aux programmes</p>
                <p>10 essais par mois pour générer des programmes</p>
            </div>
            <% if (user) { %>
                <form action="/abonnement/choisir" method="POST">
                    <input type="hidden" name="id_abonnement" value="2">
                    <button id="but2" type="submit" <% if (user.abonnement_id_abonnement == 2) { %>disabled<% } %>>Confirmer</button>
                </form>
            <% } else { %>
                <button id="but2" type="button" disabled>Connectez-vous pour souscrire</button>
            <% } %>
        </div>
        <div class="card">
            <h2>PREMIUM</h2>
            <div class="additional-info">
                <p>Accès au coach</p>
                <p>Accès illimité pour générer des programmes</p>
                <p>Accès aux plans de nutrition</p>
            </div>
            <% if (user) { %>
                <form action="/abonnement/choisir" method="POST">
                    <input type="hidden" name="id_abonnement" value="3">
                    <button id="but3" type="submit" <% if (user.abonnement_id_abonnement == 3) { %>disabled<% } %>>Confirmer</button>
                </form>
            <% } else { %>
                <button id="but3" type="button" disabled>Connectez-vous pour souscrire</button>
            <% } %>
        </div>
    </div>
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Récupérer tous les boutons de confirmation
        var buttons = document.querySelectorAll("#but1, #but2, #but3");
        
        // Ajouter un gestionnaire d'événements à chaque bouton
        buttons.forEach(function(button) {
            button.addEventListener("click", function() {
                // Récupérer le titre de la carte parente
                var title = this.parentNode.querySelector("h2").textContent;
                // Afficher un message avec le titre de la carte
                alert("Abonnement " + title + " fait !");
            });
        });
    });
</script>
<%- include ("../partials/footer.ejs") %>
