<%- include ("../partials/header.ejs") %>
<link rel="stylesheet" href="/ExoStyles.css">
<div class="searchBody">
    <div class="searchFactors">
        <div class="searchFactor">
            <h4>Muscle:</h4>
            <input type="text" id="muscleInput">
            <button id="searchButtonMuscle">Chercher</button>
        </div>
        <div class="searchFactor">
            <h4>Nom:</h4>
            <input type="text" id="nameInput">
            <button id="searchButtonName">Chercher</button>
        </div>
    </div>
    <div class="results" id="results">
        <h4>Exercises trouvées:</h4>
        <div class="result" id="result" style="color:white"></div>
    </div>
</div>
<script src="/creationTemplate.js"></script>
<%- include ("../partials/footer.ejs") %>