<%- include ("../partials/header.ejs") %>
<link rel="stylesheet" href="/ExoStyles.css">
<div class="searchBody">
    <div class="searchFactors">
        <div class="searchFactor">
            <h4>Muscle:</h4>
            <input type="text" id="muscleInput">
            <button id="searchButtonMuscle">Chercher</button>
        </div>
        <div class="searchFactor">
            <h4>Nom:</h4>
            <input type="text" id="nameInput">
            <button id="searchButtonName">Chercher</button>
        </div>
    </div>
    <div class="results" id="results">
        <h4>Exercises trouvées:</h4>
        <div class="result" id="result" style="color:white"></div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var exercises = document.querySelectorAll('.exercise');
    exercises.forEach(function(exercise) {
      exercise.addEventListener('click', function() {
        var descriptionPanel = exercise.querySelector('.description-panel');
        if (descriptionPanel.style.display === 'none') {
          descriptionPanel.style.display = 'block';
        } else {
          descriptionPanel.style.display = 'none';
        }
      });
    });
  });
  </script>
<%- include ("../partials/footer.ejs") %>