<%- include ("../partials/header.ejs") %>
<link rel="stylesheet" href="/ExoStyles.css">

<div class="searchBody" style="margin-top: 30px;">
    <div class="searchFactors">
        <div class="searchFactor">
            <h4> Name:</h4>
            <h4> <%= exercice.name %></h4>
        </div>
        <div class="searchFactor">
            <h4> Muscle:</h4>
            <h4> <%= exercice.muscle %></h4>
        </div>
    </div>
</div>

<%- include ("../partials/footer.ejs") %>