<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ - À venir</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to bottom, #333333, #1a1a1a); /* Gradient from dark grey to darker grey */
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            overflow: hidden;
        }
        .container {
            text-align: center;
            background: white;
            padding: 50px;
            border-radius: 15px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
            font-size: 3em;
        }
        p {
            color: #666;
            font-size: 1.2em;
            margin-bottom: 30px;
        }
        .coming-soon {
            font-size: 2em;
            color: #9b8b4c;
        }
        .back-button {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 1em;
            color: white;
            background-color: #D5C069;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
        .back-button:hover {
            background-color: #D5C069;
        }
    </style>
</head>
<body>
    <div class="container animate__animated animate__fadeIn">
        <h1 class="animate__animated animate__bounceIn">FAQ</h1>
        <p class="animate__animated animate__fadeInUp">La section FAQ sera bientôt disponible. Merci pour votre patience !</p>
        <p class="coming-soon animate__animated animate__pulse animate__infinite">À venir</p>
        <a href="/" class="back-button animate__animated animate__fadeInUp">Retour à l'accueil</a>
    </div>
</body>
</html>
