<%- include ("../partials/header.ejs") %>

<style>
  .background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 115%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: brightness(0.7); 
  }

  .content {
    position: relative;
    z-index: 1;
    color: white;
    padding-top: 120px; 
    text-align: center; 
  }

  .background-overlay-title, .background-overlay-description {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fond noir semi-transparent */
    border-radius: 10px;
    z-index: 1;
  }

  .background-overlay-title {
    width: fit-content;
    padding: 1rem 1.5rem;
    top: 100px; /* Ajustez cette valeur pour positionner le fond du titre */
  }

  .background-overlay-description {
    width: 80%;
    padding: 1rem;
    top: 200px; /* Ajustez cette valeur pour positionner le fond de la description */
    margin-top: 2rem;
  }

  .title, .description {
    position: relative;
    z-index: 2; /* Assure que le texte soit au-dessus du fond noir */
  }

  .title {
    font-size: 3rem;
    font-family: sans-serif;
    color: white;
  }

  .description {
    font-size: 1.5rem;
    font-family: sans-serif;
    padding: 1rem 2rem;
    margin: 2rem auto;
    width: 80%;
  }

  .video-control-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #D5C069;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 2;
  }
</style>

<video id="backgroundVideo" autoplay muted loop class="background-video">
  <source src="imgs/SONY FX3 CINEMATIC  SIGMA 24-70 F2.8 - Trim.mp4" type="video/mp4">
  Votre navigateur ne supporte pas la balise vidéo.
</video>

<div class="content">
  <div class="background-overlay-title">
    <h1 class="title">Dominez chaque défi</h1>
  </div>
  <div class="background-overlay-description">
    <div class="description">
      <p>Bienvenue sur notre site de génération de workouts de musculation ! Transformez votre corps et atteignez vos objectifs avec des plans d'entraînement personnalisés, adaptés à tous les niveaux. Relevez chaque défi, dépassez vos limites et révélez le champion en vous. Commencez dès maintenant et laissez-nous vous guider vers le succès !</p>
    </div>
  </div>
  <div class="indexPresentation"></div>
</div>

<button class="video-control-button" onclick="toggleVideo()">Pause</button>

<script>
  function toggleVideo() {
    const video = document.getElementById('backgroundVideo');
    const button = document.querySelector('.video-control-button');
    if (video.paused) {
      video.play();
      button.textContent = 'Pause';
    } else {
      video.pause();
      button.textContent = 'Lecture';
    }
  }
</script>

<%- include ("../partials/footer.ejs") %>
