<%- include ("../partials/header.ejs") %>
<h1 style="text-align: center; font-size: 3rem; font-family:sans-serif; padding-top: 3rem; color:white; padding-bottom: 3rem;">une citation de motivation agreable et accueillante</h1>
<div class="indexPresentation">
    <div class="indexSportImgContainer">
        <img src="/imgs/hockeyIcon.png">
    </div>
    <div class="indexSportImgContainer">
        <img src="/imgs/dumbbellIcon.png">
    </div>
    <div class="indexSportImgContainer">
        <img src="/imgs/soccerIcon.png">
    </div>
    <div class="indexSportImgContainer">
        <img src="/imgs/basketIcon.png">
    </div>
    <div class="indexSportImgContainer">
        <img src="/imgs/amFootIcon.png">
    </div>
</div>
<div class="button-container">
    <button class="btnYellowMedium">Prochaine etape</button>
</div>
<%- include ("../partials/footer.ejs") %>