<%- include ("../partials/header.ejs") %>
<h1 style="text-align: center; font-size: 3rem; font-family:sans-serif">une citation de motivation agreable et accueillante</h1>
<%- include ("../partials/footer.ejs") %>