<%- include ("../partials/header.ejs") %>
<h1 style="text-align: center; font-size: 3rem; font-family:sans-serif; padding-top: 3rem; color:white; padding-bottom: 3rem;">Dominez chaque défi</h1>
<div class="indexPresentation">
    <form action="/index/choisir" method="POST" class="indexSportImgContainer">
        <input type="hidden" name="id_sport" value="1">
        <input type="image" src="/imgs/hockeyIcon.png">
    </form>
    <a href="/indexSport?id_sport=2&name=musculation&image=dumbbellIcon.png" class="indexSportImgContainer">
        <img src="/imgs/dumbbellIcon.png">
    </a>
    <a href="/indexSport?id_sport=3&name=football&image=soccerIcon.png" class="indexSportImgContainer">
        <img src="/imgs/soccerIcon.png">
    </a>
    <a href="/indexSport?id_sport=4&name=basketball&image=basketIcon.png" class="indexSportImgContainer">
        <img src="/imgs/basketIcon.png">
    </a>
    <a href="/indexSport?id_sport=5&name=americanFootball&image=amFootIcon.png" class="indexSportImgContainer">
        <img src="/imgs/amFootIcon.png">
    </a>
</div>

<%- include ("../partials/footer.ejs") %>
