<%- include ("../partials/header.ejs") %>
    <p>une citation de motivation agréable et accueillante.</p>
    <div class="icons">
        <button><img src="treadmill.png" alt="Treadmill"></button>
        <button><img src="weights.png" alt="Weights"></button>
        <button><img src="soccer.png" alt="Soccer"></button>
        <button><img src="basketball.png" alt="Basketball"></button>
        <button><img src="football.png" alt="Football"></button>
    </div>
    <button>Prochaine étape</button>
<%- include ("../partials/footer.ejs") %>