    <%- include ("../partials/header.ejs") %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/inscriptionCSS.css">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center" >

                            <form class="mb-md-5 mt-md-4 pb-5" action="/inscription/submit" method="post">

                                <h2 class="fw-bold mb-2 text-uppercase">Inscription</h2>
                                <p class="text-white-50 mb-5">Veuillez entrer vos informations!</p>

                                <div class="form-outline form-white mb-4">
                                    <input name="nom_client" type="nom" id="inputFormNom" class="form-control form-control-lg"
                                        placeholder="Nom" />

                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input name="prenom_client" type="prenom" id="inputFormPrenom" class="form-control form-control-lg"
                                        placeholder="Prénom" />

                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input name="courriel_client" type="courriel" id="inputFormCourriel" class="form-control form-control-lg"
                                        placeholder="Courriel électronique" />

                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input name="mdp_client" type="mdp" id="inputFormMdp" class="form-control form-control-lg"
                                        placeholder="Mot de passe" />

                                </div>

                                <p class="small mb-5 pb-lg-2">
                                    <a href="/connexion" class="text-white-50">Déjà inscrit?</a>
                                </p>
                                

                                <button type="submit" class="btn btn-outline-light btn-lg px-5" >S'inscrire</button>


                                <div class="error-message" style="color: red;"></div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $('form').submit(function(event) {
            event.preventDefault(); // Prevent the default form submission
            $('.error-message').text(''); // Clear existing error messages
        
            $.ajax({
              url: '/inscription/submit',
              type: 'POST',
              data: $(this).serialize(),
              success: function(data) {
                window.location.href = "/Connexion"; // Redirect on success
              },
              error: function(response) {
                const errors = response.responseJSON;
                if(errors && errors.error) {
                  // Directly target the error-message div at the bottom of the form
                  $('.error-message').text(errors.error);
                } else {
                  // If the error is not in the expected format, log it for debugging
                  console.log("Unexpected error response:", response);
                }
              }
            });
        });
    </script>
    <%- include ("../partials/footer.ejs") %>