<%- include("../partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success - Payment Processed</title>
    <link rel="stylesheet" > 
    <style>
        .centered {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 40vh; 
            color: aliceblue; 
            font-family: Arial, sans-serif; 
        }
        body {
            background: #333; 
            margin: 0; 
        }
        a {
            color: aliceblue;
            text-decoration: none; 
        }
        .background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 115%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  filter: brightness(0.7); 
}
    </style>
</head>
<body>
    <div class="centered">
        <h1>Merci pour votre paiement!</h1>
        <p>Votre transaction a été complétée avec succès!</p>
        <a href="/">Revenir à l'accueil</a>
    </div>
    <video autoplay muted loop class="background-video">
        <source src="imgs/SONY FX3 CINEMATIC  SIGMA 24-70 F2.8 - Trim.mp4" type="video/mp4">
        Votre navigateur ne supporte pas la balise vidéo.
    </video>
</body>
</html>
<%- include("../partials/footer.ejs") %>
